.parent
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usergreet>p
{
    font-size: 3.2em;
    font-family: "montserrat_bold";
    color: white;
}
.abs
{
    font-family: 'montserrat_medium';
    font-size: 1.6em;
    color: white;
    position: absolute;
    top: -20px;
    left: 10px;
}
.token
{
    font-size: 1.6em;
    font-family: "montserrat_regular";
    color: white;
}
.tokenbox
{
    position: relative;
    background: #3f3f3f;
    min-width: 40em;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2em;
    margin-top: 5em;
}
.reportbox
{
    position: relative;
    background: #3f3f3f;
    min-width: 40em;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.reportbox>p
{
    font-size: 2.5em;
    font-family: "montserrat_medium";
    color: white;
    text-decoration: underline;
}
.reportbox>ul>li
{
    list-style: none;
    font-family: "montserrat_regular";
    font-size: 1.6em;
    color: white;
    margin-top: 5px;
}